/* common css */
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header area */
.container {
    width: 1400px;
    margin: 0 auto;
}

.top-header {
    background-color: rgba(0, 0, 0, 0.31);
    padding-bottom: 10px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

#header-area {
    background-image: url(sea2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: white;
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: end;

}

.ul li {
    display: inline-block;
}

.ul li a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.bg {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px 0 50px;
}

h1 {
    font-size: 40px;
}

p {
    line-height: 25px;
    padding: 10px 0 10px;
}

/* article area */
#article {
    margin: 100px 0;
    color: rgba(73, 80, 87, 1);
}

#color {
    color: rgba(212, 163, 115, 1);
    padding: 20px 0 10px;
}